@import "../../../assets/styles/variables.scss";
.main {
  display: flex;
  &.isOpen {
    @media screen and (max-width: $mobile) {
      transform: translate(-430px, 0px);
    }
  }
  &__aside {
    @media screen and (max-width: $mobile) {
      min-width: 100%;
      overflow: hidden;
    }
  }
  &__section {
    width: 100%;
    position: relative;
    height: calc(100vh - 81px);
    @media screen and (max-width: $mobile) {
      min-width: 100%;
    }
  }
}
.list {
  width: 362px;
  border-right: 1px solid #88abe3;
  height: 100%;
  position: relative;
  @media screen and (max-width: $mobile) {
    padding-top: 24px;
    width: 100%;
  }
}
.alone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__image {
    width: 200px;
    height: 200px;
    background-image: url("../../../assets/alone.png");
  }
  &__text {
    padding-top: 24px;
    width: max-content;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #303030;
  }
}
