@import "../../../assets/styles/variables.scss";

.container {
  margin-bottom: 9px;
  min-height: 104px;
  @media screen and (max-width: $mobile) {
    margin-bottom: 24px;
  }
  &__image {
    height: 20px;
  }
  &--error {
    & .container__input {
      border-color: #fb6262;
    }
  }
  &__label {
    display: inline-block;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #333333;
  }
  &__text--error {
    color: #fb6262;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    margin: 4px 0 0 5px;
  }
  &__input {
    margin-top: 4px;
    width: 354px;
    display: flex;
    align-items: center;
    border: 1px solid #b3cdf8;
    border-radius: 8px;
    justify-content: start;
    background-color: #fff;
    @media screen and (max-width: $mobile) {
      width: 100%;
    }
    &:focus-within {
      border-color: #5c98f1;
    }
    & input {
      border-radius: 8px;
      pointer-events: auto;
      width: 320px;
      ::placeholder {
        color: #0e0808;
        font-size: 15px;
        line-height: 23px;
      }
      padding-left: 16px;
      outline: none;
      font-size: 15px;
      line-height: 23px;
      border: none;
      box-sizing: border-box;
      height: 55px;
      color: #333;
      @media screen and (max-width: $mobile) {
        width: calc(100% - 30px);
        height: 48px;
      }
    }
  }
}
.captchaAuthorization{
  &.container{
    &__input {
      display: none;
    }
  }
}
