$mobile: 968px;


.button {
  margin-top: 16px;
  background: #5c98f1;
  border-radius: 8px;
  width: 233px;
  height: 56px;
  border: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  @media screen and (max-width: $mobile) {
    margin-top: 56px;
  }
  color: #ffffff;
  &:hover {
    background: #4583de;
  }
  &:active {
    background: #2c6ac7;
  }
  &:disabled {
    background: #d1d1d1;
  }
}
