$mobile: 968px;
$desktop: 1440px;


.template {
  background-color: #eff5ff;
  @media screen and (max-width: $mobile) {
    background-color: #fff;
  }
}
.wrapper {
  min-width: 950px;
  max-width: 1440px;
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width: $desktop) {
      width: 100%;
      min-width:auto;
  }
  & .main__item {
    position: relative;
    display: flex;
  }
  .item {
    &__content {
      width: calc(100% - 724px);
      padding: 256px 0 315px 121px;
      background-color: #fff;
      @media screen and (max-width: $desktop) {
        width: 50%;
      }
      @media screen and (max-width: $mobile) {
        padding:183px 13px 24px 14px;
        width: 100%;
        background-color: inherit;
        z-index: 2;
      }
    }
    &__image {
      background: #eff5ff;
      background-image: url("../../../assets/Frame.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 724px;
      min-width: 724px;
      @media screen and (max-width: $desktop) {
        width: 50%;
        min-width:auto;
      }
      @media screen and (max-width: $mobile) {
        position: absolute;
        width: 100%;
        height: 316px;
        background-image: url("../../../assets/FrameMobile.png");
      }
    }
  }
}
